{% extends 'base.html' %}

{% block title %} 
Home - Encryptify 
{% endblock %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav_logo_homeactive %} active {% endblock nav_logo_homeactive %}
{% block homeactive %} active {% endblock %}

{% block content %}
<div class="p-2 m-4 glass_effect rounded-3">
    <div class="container-fluid py-2">
      <h1 class="display-5 mb-3 fw-bold">Welcome to Encryptify</h1>
      <p class="fs-5">
        A place where you can easily encrypt your text and images using our custom encryption algorithm. <br>
        Our algorithm provides reliable and secure protection for your sensitive data.<br>
        Our platform is designed to be user-friendly, allowing you to quickly and easily encrypt your data with just a few clicks. <br>
        Simply upload your file, choose your encryption preferences, and our algorithm will take care of the rest, ensuring that your information is kept safe and secure.<br>
        At our website, we understand the importance of protecting your data from unauthorized access.<br>
        That's why we take every precaution to ensure that your information is secure, even in today's digital age. <br>
        Our platform is fully compatible with all major devices and browsers, allowing you to encrypt your data from anywhere, at any time.<br>
        Whether you need to send a confidential message or protect personal photos, our platform is the perfect solution.<br>
        So why wait? Start encrypting your text and images today using our website and enjoy the peace of mind that comes with knowing your data is secure.<br>
      </p>
      <button class="btn btn-primary m-1 btn-lg" type="button">Terms of Service</button>
      <button class="btn btn-primary m-1 btn-lg" type="button">Privacy Policy</button>
    </div>
  </div>
{% endblock %}