{% extends 'base.html' %}

{% block title %} 
Home - SoftEncryptor 
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<p class="text-start glass_effect rounded-4 m-3 p-3" style="white-space: pre-line;">Welcome to SoftEncryptor, where you can easily encrypt your text and images using our custom encryption algorithm. 
    Our algorithm provides reliable and secure protection for your sensitive data.
    Our platform is designed to be user-friendly, allowing you to quickly and easily encrypt your data with just a few clicks. 
    Simply upload your file, choose your encryption preferences, and our algorithm will take care of the rest, ensuring that your information is kept safe and secure.
    At our website, we understand the importance of protecting your data from unauthorized access.
    That's why we take every precaution to ensure that your information is secure, even in today's digital age. 
    Our platform is fully compatible with all major devices and browsers, allowing you to encrypt your data from anywhere, at any time.
    Whether you need to send a confidential message or protect personal photos, our platform is the perfect solution.
    So why wait? Start encrypting your text and images today using our website and enjoy the peace of mind that comes with knowing your data is secure.
</p>
{% endblock %}