#imgPreview{
    width: 22vw;
    aspect-ratio: 1;
    object-fit: contain;
    height: auto;
}

#savecheck-hidden{
    display: none;
}

#err{
    color:rgb(248, 54, 54)
}

@media (max-width:768px){
    #imgPreview{
        width: 40vw;
    }
}