{% extends 'image/img.html' %}

{% block title %} Image Encryption - Encryptify {% endblock %} 
{% load static %}
{% block form_title %} Encrypt/Decrypt Your Image {% endblock %}

{% block istyle %}
<link rel="stylesheet" href="{% static '/image/css/encryption.css' %}">
{% endblock %}

{% block form_content %} 
<form class="img_form" action="/image/encryption" target="_self" method="post"> {% csrf_token %}
    <img src="#" class="mx-auto" id="imgPreview" alt="image preview" onerror="on_img_err();">
    <div class="mb-3">
        <label for="imgFileInput" class="form-label">Select an Image file</label>
        <input class="form-control" type="file" accept="image/*" name="imgFile" id="imgFileInput" required>
    </div>
    <div class="mb-2">
        <label for="key" class="form-label">Encryption key:</label>
        <input type="text" class="form-control" name="key" placeholder="Key" id="key" value="{{values.key}}" aria-describedby="keyHelp" required>
        <div id="keyHelp" class="form-text">Encryption key is nothing but a Password to Encrypt/Decrypt your image.</div>
    </div>
    <button type="button" class="btn btn-secondary me-auto my-1" onclick="set_random_key();"><span class="fw-bold">Generate random key</span></button>
    <button type="button" class="btn btn-secondary me-auto my-1" onclick="clear_key();"><span class="fw-bold">Clear key field</span></button>
    <div class="form-check form-switch my-1">
        <input class="form-check-input" name="operation" type="radio" role="switch" id="operation-encrypt" value="encrypt" checked required>
        <label class="form-check-label" for="operation-encrypt">Encrypt</label>
    </div>
    <div class="form-check form-switch my-1">
        <input class="form-check-input" name="operation" type="radio" role="switch" id="operation-decrypt" value="decrypt">
        <label class="form-check-label" for="operation-decrypt">Decrypt</label>
    </div>
    <button type="submit" class="btn btn-primary ms-auto my-2 px-5"><span class="fw-bolder">Submit</span></button>
</form>
{% endblock %}

{% block iscript %}
<script src="{% static '/image/js/encryption.js' %}"></script>
{% endblock %}