.form-text{
    color:var(--help-text-color)
}

#txtArea{
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
}

#rtxtArea{
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
}

.form_container{
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.btn-container{
    display: flex;
    flex-direction: row;
}

.txt_form{
    display: flex;
    width: auto;
    flex-direction: column;
}

@media (max-width:768px){
    .form_container{
        width: 90vw;
    }
    .btn-container{
        margin: auto;
        flex-direction: column;
    }
    .btn{
        margin-top: 2px;
        margin-right: auto;
        margin-left: auto;
    }
}