.btn_container{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    align-self: center;
}

@media (max-width: 768px){
    .btn_container{
        flex-direction: column;
        width: 90vw;
    }
}
