@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --help-text-color:rgb(200, 249, 252);
}

html * {
    font-family: 'Ubuntu';
}

.glass_effect {
    color: white;
    background-color: rgba(1, 62, 175, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -15px 15px 12px rgba(0,0,0, 0.35);
    cursor: default
}

body {
    background: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 99vw;
}

.active{
    pointer-events: none;
    user-select: none;
}

.centered {
    display: flex;
    align-self: center;
}

.lslink{
    color: rgb(175, 175, 175);
    text-decoration: none;
}

.lslink:hover{
    color:rgb(200, 200, 200);
}

.navbar-brand:hover {
    cursor: default;
}
.navbar-brand {
    user-select: none;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-dialog{
    color: black;
}

.modal-backdrop {
    z-index: -1;
}

@media (max-width:768px){
    body{
        background: url("../img/mbackground.jpg");
        background-size: cover;
    }
}