.login-container{
    display: flex;
    flex-direction: column;
    width: 50ex;
    margin-top: 20vh;
    justify-content: center;
}


.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text{
    color:var(--help-text-color);
}

#btn-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#err {
    color:rgb(248, 54, 54)
}

@media (max-width:768px){
    .login-container{
        width: 90vw;
        margin-top: 10vh;
    }
    
}
