body {
    height: 110vh;
}

#hidden-div{
    display: flex;
    width: 99vw;
    justify-content: center;
}

.signup-container{
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin-top: 15vh;
    justify-content: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text{
    color:var(--help-text-color);
}

#btn-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#err{
    color:rgb(248, 54, 54)
}

@media (max-width:768px){
    .signup-container{
        width: 90vw;
        margin-top: 10vh;
    }
    
}
