.glass_effect {
    color: white;
    background-color: rgba(1, 62, 175, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -15px 15px 12px rgba(0,0,0, 0.35);
    cursor: default
}

body {
    background-color: rgb(19, 27, 100);
    background: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 120vh;
    width: 99vw;
}

.signup-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 25vh;
    justify-content: center;
}


.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text{
    color:rgb(148, 215, 219);
}

#btn-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#err{
    color:rgb(248, 54, 54)
}

@media (max-width:991px){
    body{
        background: url("../img/mbackground.jpg");
        background-size: cover;
    }
    .signup-container{
        width: 90vw;
        margin-top: 25vh;
        justify-content: center;
    }
    
}
